--типы данных
CREATE TYPE DT_IDENTIFIER FROM INT NOT NULL;
CREATE TYPE DT_DAY_NN     FROM SMALLDATETIME NOT NULL;
CREATE TYPE DT_TEXT       FROM VARCHAR(200);
CREATE TYPE DT_TEXT_NN    FROM VARCHAR(200)  NOT NULL;
CREATE TYPE DT_INT        FROM TINYINT;
CREATE TYPE DT_INT_NN     FROM TINYINT       NOT NULL;