<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--строка подключения к базе данных Firebird Embedde-->
    <add name="FBConnection" connectionString="User=SYSDBA;Password=masterkey;Dialect=3;Database=..\..\..\db\word_processor.fdb;ServerType=1;ClientLibrary=..\..\..\db\fbclient.dll" />
  </connectionStrings>

  <appSettings>
    <!--путь до словаря-->
    <add key="DictionaryPath" value="..\..\..\dictionary\dictionary.txt" />
  </appSettings>
</configuration>