<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--add name="FBConnection" connectionString="User=SYSDBA;Password=masterkey;Dialect=3;Database=d:\Archive\C#\WordProcessor\db\word_processor.fdb;ServerType=1;ClientLibrary=d:\Archive\C#\WordProcessor\db\fbclient.dll" /-->
    <add name="FBConnection" connectionString="User=SYSDBA;Password=masterkey;Dialect=3;Database=..\..\..\db\word_processor.fdb;ServerType=1;ClientLibrary=..\..\..\db\fbclient.dll" />
  </connectionStrings>
</configuration>